<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

  <link rel="stylesheet" type="text/css" href="style.css">

  <title>Compare EVs</title>
</head>
<body>
  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/search">Search EV</a>
            {% if user %}
            <a class="nav-item nav-link" href="/addev">Add EV</a>
            <a class="nav-item nav-link" href="/compare">Compare EV</a>
            <a class="nav-item nav-link" href="/reviews">Review EV</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <main>
      <h2>Compare EVs</h2>
      {% if error %}
      <p class="text-danger">{{ error }}</p>
      {% endif %}
      <form method="post" action="/compare">
        <select class="selectpicker" multiple data-live-search="true" name="evs" required>
          {% for i in q %}
          <option value="{{ i.key.id() }}">{{ i.manufacturer }} {{ i.name }} {{ i.year }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Compare" name="button" class="btn btn-outline-dark"/>
      </form>
      {% if EVs %}
      <table class="table table-hover mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">EVs</th>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Year</th>
            <th scope="col">Battery Size</th>
            <th scope="col">WLTP Range</th>
            <th scope="col">Cost</th>
            <th scope="col">Power</th>
          </tr>
        </thead>
        <tbody>
          {% for ev in EVs %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ ev.name }}</td>
            <td>{{ ev.manufacturer }}</td>
            <td>{{ ev.year }}</td>
            {% if ev.battery_size == max_battery_size %}
            <td class="text-success">{{ ev.battery_size }}</td>
            {% elif ev.battery_size == min_battery_size %}
            <td class="text-danger">{{ ev.battery_size }}</td>
            {% else %}
            <td>{{ ev.battery_size }}</td>
            {% endif %}
            {% if ev.WLTP_range == max_WLTP_range %}
            <td class="text-success">{{ ev.WLTP_range }}</td>
            {% elif ev.WLTP_range == min_WLTP_range %}
            <td class="text-danger">{{ ev.WLTP_range }}</td>
            {% else %}
            <td>{{ ev.WLTP_range }}</td>
            {% endif %}
            {% if ev.cost == max_cost %}
            <td class="text-danger">{{ ev.cost }}</td>
            {% elif ev.cost == min_cost %}
            <td class="text-success">{{ ev.cost }}</td>
            {% else %}
            <td>{{ ev.cost }}</td>
            {% endif %}
            {% if ev.power == max_power %}
            <td class="text-success">{{ ev.power }}</td>
            {% elif ev.power == min_power %}
            <td class="text-danger">{{ ev.power }}</td>
            {% else %}
            <td>{{ ev.power }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </main>
  </div>
  <script type="text/javascript">
  $('select').selectpicker();
  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

</body>
</html>
