<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EV Details</title>
  </head>
  <body>
    <form method="post" action="/details">
      {% for i in query %}
        Name: <input type="text" name="ev_name" value="{{ i.name }}"/>
        <br/>
        Manufacturer: <input type="text" name="ev_manufacturer" value="{{ i.manufacturer }}"/>
        <br/>
        Year: <input type="number" name="ev_year" value="{{ i.year }}">
        <br/>
        Battery Size: <input type="number" step="any" name="ev_battery_size" value="{{ i.battery_size }}">
        <br/>
        WLTP Range: <input type="number" step="any" name="ev_WLTP_range" value="{{ i.WLTP_range }}">
        <br/>
        Cost: <input type="number" step="any" name="ev_cost" value="{{ i.cost }}">
        <br/>
        Power: <input type="number" step="any" name="ev_power" value="{{ i.power }}">

        <input type="text" name="name" value="{{ i.name }}" hidden/>
        <input type="text" name="manufacturer" value="{{ i.manufacturer }}" hidden/>
        <input type="number" name="year" value="{{ i.year }}" hidden/>

        <br/>
        {% if user %}
        <form method="post" action="/details">
            <input type="submit" value="Edit" name="button"/>
            <input type="submit" value="Delete" name="button"/>
        </form>
        {% endif %}
      {% endfor %}
    </form>

  </body>
</html>
