<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- style sheet -->
    <link rel="stylesheet" href="/stylesheet/style.css">

    <title>EV Details</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">EV</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/search">Search EV</a>
              {% if user %}
              <a class="nav-item nav-link" href="/addev">Add EV</a>
              <a class="nav-item nav-link" href="/compare">Compare EV</a>
              <a class="nav-item nav-link" href="/reviews">Review EV</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
      <main>
        <h2>Details</h2>
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error!</strong> Ev already exists.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <form method="post" action="/details" class="form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Name:</label>
              <input type="text" name="ev_name" value="{{ ev.name }}" class="form-control"/>
            </div>
            <div class="form-group col-md-6">
              <label>Manufacturer:</label>
              <input type="text" name="ev_manufacturer" value="{{ ev.manufacturer }}" class="form-control"/>
            </div>
            <div class="form-group col-md-6">
              <label>Year:</label>
              <input type="number" name="ev_year" value="{{ ev.year }}" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label>Battery Size:</label>
              <input type="number" step="any" name="ev_battery_size" value="{{ ev.battery_size }}" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label>WLTP Range:</label>
              <input type="number" step="any" name="ev_WLTP_range" value="{{ ev.WLTP_range }}" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label>Cost:</label>
              <input type="number" step="any" name="ev_cost" value="{{ ev.cost }}" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label>Power:</label>
              <input type="number" step="any" name="ev_power" value="{{ ev.power }}" class="form-control">
            </div>
            <input type="text" name="id" value="{{ ev.key.id() }}" hidden/>
            {% if ev.reviews %}
            <h4 class="col-md-12">Comments</h4>
            {% for i in ev.reviews|reverse %}
              <p class="col-md-12">{{ loop.index }}. {{ i.comment }}</p>
            {% endfor %}
            <p class="h5">Average Rating: {{ ev.rating }}</p>
            {% endif %}
            {% if user %}
            <input type="submit" value="Edit" name="button" class="btn btn-outline-dark btn-lg btn-block"/>
            <input type="submit" value="Delete" name="button" class="btn btn-outline-dark btn-lg btn-block"/>
            <input type="submit" value="Cancel" name="button" class="btn btn-outline-dark btn-lg btn-block"/>
            {% endif %}
          </div>
        </form>
      </main>
    </div>

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
