<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- style sheet -->
    <link rel="stylesheet" href="/stylesheet/style.css">

    <title>Search EV</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Elon's Dream</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/search">Search EV</a>
              <a class="nav-item nav-link" href="/compare">Compare EV</a>
              {% if user %}
              <a class="nav-item nav-link" href="/addev">Add EV</a>
              <a class="nav-item nav-link" href="/reviews">Review EV</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
      <main>
        <h2>Search EVs</h2>
        <form method="post" action="/search" class="form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Name:</label>
              <input type="text" name="ev_name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label>Manufacturer:</label>
              <input type="text" name="ev_manufacturer" class="form-control" placeholder="Manufacturer">
            </div>
            <div class="form-group col-md-4">
              <label>Year:</label>
              <input type="number" step="any" name="ev_year_upper" class="form-control" placeholder="Upper Limit">
              <input type="number" step="any" name="ev_year_lower" class="form-control" placeholder="Lower Limit" min="0">
            </div>
            <div class="form-group col-md-4">
              <label>Battery size:</label>
              <input type="number" step="any" name="ev_battery_size_upper" class="form-control" placeholder="Upper Limit">
              <input type="number" step="any" name="ev_battery_size_lower" class="form-control" placeholder="Lower Limit" min="0">
            </div>
            <div class="form-group col-md-4">
              <label>WLTP Range:</label>
              <input type="number" step="any" name="ev_WLTP_Range_upper" class="form-control" placeholder="Upper Limit">
              <input type="number" step="any" name="ev_WLTP_Range_lower" class="form-control" placeholder="Lower Limit" min="0">
            </div>
            <div class="form-group col-md-4">
              <label>Cost:</label>
              <input type="number" step="any" name="ev_cost_upper" class="form-control" placeholder="Upper Limit">
              <input type="number" step="any" name="ev_cost_lower" class="form-control" placeholder="Lower Limit" min="0">
            </div>
            <div class="form-group col-md-4">
              <label>Power:</label>
              <input type="number" step="any" name="ev_power_upper" class="form-control" placeholder="Upper Limit">
              <input type="number" step="any" name="ev_power_lower" class="form-control" placeholder="Lower Limit" min="0">
            </div>
            <input type="submit" value="Search" name="button" class="btn btn-outline-dark col-md-6"/>
            <input type="submit" value="Cancel" name="button" class="btn btn-outline-dark col-md-6"/>
          </div>
        </form>
        <!-- loops through query to display result -->
        {% if total_query %}
        <h4 class="mt-2">Search Results:</h4>
        {% for i in total_query %}
        <p>EV{{ loop.index }}: <a href="/details?id={{ i.key.id() }}">{{ i.manufacturer }} {{ i.name }}</a></p>
        {% endfor %}
        {% endif %}
      </main>
    </div>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
